div {
  letter-spacing: 20px;
  font-size: 40px;
}

.win {
  font-size: 76px;
  color: lightgreen;
  letter-spacing: 8px
}

.lose {
  font-size: 76px;
  letter-spacing: 8px;
  color: red;
}

p {
  font-size: 40px;
  letter-spacing: 4px;
}